@model CreateUpdateProductViewModel

<!-- Main content -->
<section class="content">
    <h1 class="card-title text-center p-2">اضافه کردن محصول جدید</h1>

    <form asp-action="Create" method="post" class="row">
        @Html.AntiForgeryToken()
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">مشخصات اصلی محصول</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    نام محصول<span class="text-danger">*</span>
                                </label>
                                <input asp-for="Name" class="form-control" type="text" placeholder="نام محصول">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <label>دسته بندی محصول<span class="text-danger">*</span></label>
                                <select asp-for="CategoryId" class="form-control select2" style="width: 100%;">
                                    <option selected="selected">---Select Category---</option>
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="CategoryId"></span>
                            </div>
                            <div class="form-group">
                                <label>درصد تخفیف محصول - <span class="text-success">اختیاری</span></label>
                                <input asp-for="DiscountPercent" type="number" class="form-control" />
                                <span class="text-danger" asp-validation-for="DiscountPercent"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>انتخاب تصویر<span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input asp-for="Thumbnail" type="file" class="custom-file-input">
                                        <label class="custom-file-label">انتخاب فایل</label>
                                        <span class="text-danger" asp-validation-for="Thumbnail"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> قیمت محصول به ریال<span class="text-danger">*</span></label>
                                <input asp-for="Price" type="number" class="form-control"/>
                                <span class="text-danger" asp-validation-for="Price"></span>
                            </div>
                            <div class="form-group">
                                <label> تعداد محصول<span class="text-danger">*</span></label>
                                <input asp-for="QuantityInStock" type="number" class="form-control" />
                                <span class="text-danger" asp-validation-for="QuantityInStock"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @* Description *@

        <div class="col-md-12">
            <div class="card card-info card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        توضیحات محصول<span class="text-danger">*</span>
                    </h3>
                    <!-- tools box -->
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool btn-sm"
                                data-widget="collapse"
                                data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /. tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="mb-3">
                        <textarea asp-for="Description" cols="30" rows="30" id="editor1" style="width: 100%">توضیحات محصول را وارد کنید</textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        @*Submit Button*@
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary text-light float-right"><i class="fa fa-plus"></i> اضافه کردن محصول جدید</button>
        </div>
    </form>
</section>

@section Scripts{
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- CK Editor -->
    <script src="~/plugins/ckeditor/ckeditor.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script>
        $(function () {
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            ClassicEditor
                .create(document.querySelector('#editor1'))
                .then(function (editor) {
                    // The editor instance
                })
                .catch(function (error) {
                    console.error(error)
                })

            // bootstrap WYSIHTML5 - text editor

            $('.textarea').wysihtml5({
                toolbar: { fa: true }
            })
        })
    </script>
    <partial name="_ValidationScriptsPartial" />
}
