@model CreateUpdateProductViewModel


<div class="row p-4">
    <div class="col-md-12">
        <h4>Product</h4>
        <hr />
    </div>
    <div class="col-md-12">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input style="visibility:hidden" value="Id" />
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thumbnail" class="control-label"></label>
                <input asp-for="Thumbnail" type="file" class="form-control" />
                <span asp-validation-for="Thumbnail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img width="300px" height="200px" src="~/Uploads/Images/Products/@Model.ThumbnailIMG" />
            </div>
            <div class="form-group">
                <label asp-for="DiscountCount" class="control-label"></label>
                <input asp-for="DiscountCount" class="form-control" />
                <span asp-validation-for="DiscountCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPercent" class="control-label"></label>
                <input asp-for="DiscountPercent" class="form-control" />
                <span asp-validation-for="DiscountPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityInStock" class="control-label"></label>
                <input asp-for="QuantityInStock" class="form-control" />
                <span asp-validation-for="QuantityInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
