@{
    Layout = null;
}
<html>
    <head>
        <title>404 - Not Found</title>
        <link rel="stylesheet" href="~/css/404NotFound.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>
    <div class="flex-container">
        <div class="text-center">
            <h1>
                <span class="fade-in" id="digit1">4</span>
                <span class="fade-in" id="digit2">0</span>
                <span class="fade-in" id="digit3">4</span>
            </h1>
            <h3 class="fadeIn">PAGE NOT FOUND</h3>
            <p>Maybe page url is wrong or page is deleted Please Contact With Admins</p>
            <br /><br />
            <a asp-controller="Home" asp-action="Index" class="text-light btn btn-outline-success" type="button" name="button">Return To Home</a>
        </div>
    </div>

    </body>
</html>