@model IEnumerable<Product>

<!-- Section-->
<section >
    <div >
        <div class="row">
            <h1>Products : </h1>
            <hr />
            @foreach (var product in Model)
            {
                <partial name="_ShowProduct" model="product" />
            }
        </div>

        @await Component.InvokeAsync("ProductSliderComponent")
        
</section>
