@model IEnumerable<AD>

@foreach(var AD in Model){
    <div class="card">
        <div class="card-body">
            <a href="@AD.URL"><img src="~/Uploads/Images/ADS/@AD.Thumbnail" alt="@AD.Title" class="img-fluid"></a>
        </div>
    </div>
    <hr />
}

