@model IEnumerable<AD>
<div class="row">
    @foreach(var AD in Model){
        <div class="col-md-12">
            <a href="@AD.URL"><img src="~/Uploads/Images/ADS/@AD.Thumbnail" alt="@AD.Title" class="img-fluid"></a>
        </div>
        <hr />
    }
</div>
