@model IEnumerable<Category>

<div class="list-group">
    @foreach (var category in Model)
    {
        <a asp-controller="Home" asp-action="Category" asp-route-id="@category.Id"  aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@category.Name</h5>
                <small class="text-dark p-1" style="border-radius:50%">@category.Products.Count()</small>
            </div>
            <p class="mb-1">@category.Description</p>
        </a>
    }
</div>