@model IEnumerable<Product>

<div id="banner" style="height: 350px">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" active></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            @foreach (var product in Model)
            {
                <div class="carousel-item active" style="height: 350px">
                    <div class="p-4 bounceIn">
                        <a asp-controller="Home" asp-action="Product" asp-route-id="@product.Id">
                            <img width="100%" height="100%" style="padding:0;margin:0" src="~/Uploads/Images/Products/@product.Thumbnail" alt="@product.Name" />
                        </a>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#mainBanner" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#mainBanner" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div>
</div>



@section Scripts {

    <script>
        // Hide all item in .carousel-item initially
        $(".carousel-item *").addClass("d-none");

        // Animate the first slide
        setTimeout(function () {
            $(".carousel-item.active *")
                .removeClass("d-none")
                .addClass("animated");
        }, 700);

        // Animate after the slider changes
        $("#mainBanner").on("slid.bs.carousel", function (e) {
            // Add .d-none to previous shown slide
            $(".carousel-item *").addClass("d-none");

            // Element for new slide
            var c = e["relatedTarget"];

            // After 0.7 sec slide changes, then make the animation for new slide
            setTimeout(function () {
                $(c)
                    .find("*")
                    .removeClass("d-none")
                    .addClass("animated");
                console.log("c");
            }, 700);
        });

    </script>
}
